div.answer {
    padding-left: 20pt;
    padding-bottom: 12pt;
}

div.comment {
    padding-left: 4pt;
    padding-bottom: 12pt;
}

div.errors {
    border: 1px solid red;
    margin-top: 12pt;
    margin-left: 4pt;
    padding-left: 4pt;
    color: red;
    font-weight: bold;
}

.relvar {
    font-style: italic;
}

.attr_name {
    font-style: italic;
}

.group_operator {
    font-family: Lucida Calligraphy;
}

.func_name {
    font-weight: bold;
}

.operator {
}

.string {
    color: #007F00;
}

.number {
    color: #0000FF;
}

